<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rebuild1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D4A66631F467A95005EAA1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D4A667C1F467A95005EAA1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D4A66871F467A95005EAA1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
